{% extends "list-style.html" %}
{% load icon %}
{% load humanize %}
{% load static %}

{% block table-headers %}
<th>Nom</th>
<th>Prénom</th>
<th>Matricule</th>
<th>Contact</th>
<th>Email</th>
<th>Rôle</th>
{% endblock table-headers %}

{% block table-rows %}
<td>{{object.last_name|title}}</td>
<td>{{object.first_name|title}}</td>
<td>{{object.matricule}}</td>
<td>{{object.phone}}</td>
<td>{{object.email}}</td>
<td>{{object.get_role}}</td>
{% endblock table-rows %}

{% block other-options %}
{% if deactivate_user %}
{% if object.is_active %}
<a>
  <span class="text-secondary" data-bs-toggle="popover" data-bs-content="Compte déjà activé" 
    data-bs-container="body" style="font-size: {{ option_size }}px;">
    {% icon "key" %}
  </span>
</a>
{% else %}
<a href="{% url 'auth:user-send-key' object.id %}">
  <span class="text-secondary" data-bs-toggle="popover"  data-bs-content="Activer le compte" 
    data-bs-container="body" data-bs-placement="top" style="font-size: {{ option_size }}px;">
    {% icon "key" %}
  </span>
</a>

{% endif %}
{% endif %}
{% if can_assign %}
{% if object.is_superuser or object.assign %}
<a>
  <span class="text-warning" data-bs-toggle="popover" data-bs-content="A déjà un rôle" 
    data-bs-container="body" data-bs-placement="top" style="font-size: {{ option_size }}px;">
    {% icon "briefcase" %}
  </span>
</a>
{% else %}
<a href="{% url 'auth:nomination-create' object.id %}">
  <span class="text-warning" data-bs-toggle="popover" data-bs-content="Donner un rôle" 
    data-bs-container="body" data-bs-placement="top" style="font-size: {{ option_size }}px;">
    {% icon "briefcase" %}
  </span>
</a>

{% endif %}
{% endif %}
{% endblock other-options %}
